<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 属性文件 -->
	<property name="processName" value="springboot-mybatis-logbacktest" />
	<property name="logDir" value="logs/module"/>

	<!-- 默认的控制台日志输出，一般生产环境都是后台启动 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%-5level] %logger{80} - %L : %msg%n</pattern>
		</layout>
	</appender>
	
	<!-- 配置日志文件输出 -->
	<appender name="moduleFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 日志的名称 -->
		<File>${logDir}/module.log</File>
		<!-- 滚动策略配置 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logDir}/module/$${date:yyyy-MM}/module-%d{yyyy-MM-dd}.log.gz</FileNamePattern>
		</rollingPolicy>
		<!-- 日志输出信息格式 -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%-5level] %logger{80} - %L : %msg%n</pattern>
		</layout>
		<!--日志文件最大的大小，到达最大的size，触发滚动，生成归档文件：即rollingPolicy标签的配置 -->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>250MB</MaxFileSize>
        </triggeringPolicy>
	</appender>
	
	<!-- 配置日志记录器，包起始位置 -->
	<logger name="com.basjoo.SpringBootMybatisMult.module" level="debug" additivity="false">
		<appender-ref ref="moduleFile"/>
	</logger>
	
	<!-- 例如：修改其他包的日志输出出级别 -->
	<logger name="org.apache.zookeeper">
		<level value="WARN" />
	</logger>

	<!-- root默认日志配置 注意这里的级别！小心生产环境用DEBUG，撑爆磁盘!-->
	<root level="info">
		<appender-ref ref="moduleFile"/>
		<appender-ref ref="stdout" />
	</root>
</configuration>